[submodule "vendored_deps/spdlog"]
	path = vendored_deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendored_deps/glm"]
	path = vendored_deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored_deps/glbinding"]
	path = vendored_deps/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "vendored_deps/glfw"]
	path = vendored_deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendored_deps/imgui_wrapper/imgui"]
	path = vendored_deps/imgui_wrapper/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendored_deps/flatbuffers"]
	path = vendored_deps/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendored_deps/asio"]
	path = vendored_deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "vendored_deps/cxxopts"]
	path = vendored_deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "vendored_deps/fmt"]
	path = vendored_deps/fmt
	url = https://github.com/fmtlib/fmt.git
